<!DOCTYPE html>
<html lang="en-us" class="no-js">

	<head>
		<meta charset="utf-8">
        <title>RPZ</title>
        <meta name="description" content="The description should optimally be between 150-160 characters.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Madeon08">

        
        <link rel="stylesheet" href="css/style-left-red.css" />
        <script src="js/modernizr.custom.js"></script>
	</head>
	
	<body>

        <!-- Overlay -->
        <div class="global-overlay">
            <div class="overlay skew-part"></div>
        </div>

        <div class="left-part">

            <div class="content">

                <!-- Your logo -->
                <img src="img/logo.png" alt="" class="brand-logo" />

                <h1>ERROR <div class="timer"></div></h1>

               

            </div>


        </div>

        <div class="right-part opacity-0"></div>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easings.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

    <!-- Plugin used to count down to the target number at a specified speed -->
    <script src="js/jquery.countTo.js"></script>


    <!-- Plugin Background Slideshow -->
    <script src="js/vegas.js"></script>

   

	<!-- Main JS File -->
	<script src="js/main.js"></script>
    


	</body>

</html>
