<div class="single-sidebar" ng-controller="vendedorController">
    <div class="wrapper">
        <div class="head">
            <h2 class="sidebar-title">Accede como vendedor anonimo!</h2>
        </div>
        <div class="body">
            <form enctype='multipart/form-data' name="Form">
                <h2 class="sidebar-title" style="margin-left:15px;">Danos tu pseudonimo Firmado:</h2>
                <div class="eye">
                    <input type='file' class="RSA custom-file-input" id="imgInp" accept=".RSA" />
                </div>
                <div class=" enviar ">
                    <button class="buto " type="submit " ng-click="subirObjeto() ">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <script>
    </script>
</div>